// Terminal CSS base theme 
@import "../../node_modules/terminal.css/dist/terminal.css";

// Variables
@import "variables";

// Logo
.logo {
    position: relative;
    padding-left: 64px;
    width: 250px;
}
.logo IMG {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 5px;
    left: 0px;
}

// Child TOC
ol>li.has-child {
    border-bottom: none;
}
ol>li.has-child::before {
    bottom: auto;
}
ol>li.has-child ol {
    padding-top: 15px;
    padding-left: 25px;
}
