<div class="terminal-nav">
            <header class="terminal-logo">
                <div class="logo"><img height="60px" src="images/logo_color.svg" /><a href="https://rust-starter.github.io" class="no-style">rust-starter</a></div>
            </header>
            <nav class="terminal-menu">
                <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                    <li style="height: 28px;"><a class="github-button" href="https://github.com/rust-starter/rust-starter"
                            data-size="large" data-show-count="true" aria-label="Star rust-starter on GitHub">Star</a></li>
                </ul>
            </nav>
        </div>
