<main>
    <section>
        <h2 id="table-of-content">Table of Content</h2>
        <nav>
            <ol class="terminal-toc">
                <li><a href="#getting-started">Getting Started.</a></li>
                <li><a href="#faq">FAQ.</a></li>
                <li class="has-child">
                    <a href="#features">Features.</a>
                    <ol>
                        <li><a href="#feature-modules">Modules.</a></li>
                        <li><a href="#feature-clap">Clap.</a></li>
                        <li><a href="#feature-errors">Errors.</a></li>
                        <li><a href="#feature-configuration">Configuration.</a></li>
                        <li><a href="#feature-logging">Logging.</a></li>
                        <li><a href="#feature-testing">Testing.</a></li>
                        <li><a href="#feature-cicd">CI/CD.</a></li>
                        <li><a href="#feature-github">Github Actions.</a></li>
                    </ol>
                </li>
                <li><a href="#usage">Usage.</a></li>
                <li><a href="#contributing">Contributing.</a></li>
                <li><a href="#license">License.</a></li>
                <li><a href="#author">Author.</a></li>
            </ol>
        </nav>
    </section>
</main>
